
// *{
//     box-sizing: border-box;
//     margin: 0px;
//     padding: 0px;
// }
#app{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px -2px black;
    height: 80px;
}
body{
    background-color: rgb(241, 240, 240);
}
.logo{
  
    display: flex;
    flex: 1;
    .fab{
        font-size: 50px;
        color: #1185ea;
    }
}

.centrale{
  
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    i{
        font-size: 30px;
        
    }
}
.destra{
    
  
    display: flex;
    flex: 1;
    justify-content: center;
    
    // height: 100%;
    
    // justify-content: center;
    
    
    .lista-destra{
        margin: 0;
      
        list-style: none;
        display: flex;
        align-items: center;
       
        li{
            margin: 2px;
            display: flex;
            align-items: center;
            
        }
        .fab,.fas{
            font-size: 20px;
         
            padding: 10px;
            border-radius: 50%;
            background-color: rgb(197, 197, 197);
        }
        a{

            &:hover{
                text-decoration: none;
            }
            .friend-request{
                display: flex;
                align-items: center;
                background-color: red;
                border-radius: 50%;
                height: 30px;
                padding: 10px;
                margin-right: 15px;
                color:white;
                
            }
        }
        
    }
}

// .single-post{
//     margin: 10px auto;
//     width: 50%;
//     padding: 10px 50px;
//     // border: 1px solid black;
//     border-radius: 10px;
//     background-color: rgb(241, 240, 240);
//     // background-color: yellowgreen;
// }

// .container-img-nick{
//     margin: 10px;
// }

// .img-post{
//     width: 50px;
//     height: 50px;
//     border-radius: 50%;
// }
// .img-profile{
//     width: 75px;
//     height: 75px;
//     border-radius: 50%;
// }
// .no-img-profile{
//     width: 50px;
//     height: 50px;
//     border-radius: 50%;
// }




